.template-box{
  .template-title{
    font-weight: bold;
    font-size: 24px;
    padding:0 0 10px 10px;
    border-bottom: 2px solid ;
  }
  .freight-type{
    .el-input{
      width: 100px;
    }
  }
}
