
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: Helvetica, Arial, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
  background-color: #f5f5f5;
  font-size: 14px;
  //height: 100%;
  //width: 1200px;
}

body {
  margin: 0;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: bottom;
  border: 0;
}

p, ul, ol, li, h1, h2, h3, h4, h5, form, input, button, dl, dt, dd {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 14px;
}

button {
  border: none;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none;
}

a, a:hover {
  text-decoration: none;
  color: #404951;
  -webkit-backface-visibility: hidden;
}

a:focus, *:focus {
  outline: none;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.dib {
  display: inline-block;
}

aside,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both
  }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
//::-webkit-scrollbar
//{
//  width: 0px;
//  height: 8px;
//  background-color: #c1c1c1;
//  opacity: .5;
//}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.el-form-item__label{
  color: #333 !important;
}
.active__editor_check{
  .el-form-item__label{
    color: #666 !important;
  }
}
