@import './variable.scss';
$sideWidth: 200px;
#app {
  height: 100%;
  // 主体区域

  // 侧边栏
  .sidebar-container {
    /*transition: width 0.28s;
    width: $sideWidth!important;
    position: absolute;
    top: 80px;
    overflow: hidden;
    bottom: 0;
    left: 0;
    z-index: 1001;*/
    // 重置menu的边框
    .el-menu {
      border: none;
    }
    // 重置图标
    .el-submenu__title {
      &:hover {
        background: none;
      }
      i {
        // color: rgba(0,0,0,.75);
      }
    }

    // 当前栏的父级高亮
    .el-submenu.is-active {
      .el-submenu__title {
        i {
          color: $themeColor;
        }
        color: $themeColor;
      }
    }
    // 重置 当前栏 的颜色
    .el-menu-item.is-active {
      border-right: 4px solid #FF960B;
      background-color: #FFF8E6;
    }
    .router-link-active {
      color: $themeColor;
    }
    // 重置每栏的padding-left 颜色
    .link-item {
      .el-menu-item {
        padding-left: 52px!important;
        color: #747474;
      }
    }

  }
}
