$bgColor: #f7f7f7;
$themeColor: #FF960B;
$labelColor: #666;
$textColor: #333;
$descColor: #999;
$warnColor: #e63939;
$disabledColor: #bbb;
$themColor: #FF960B;
$wPadding: 60px;
$sideWidth: 200px;
$managementWidth: 260px;
//内边距
$layOutPadding:24px;
// 字体
$mediumFont:bold;
$bigFont:bolder;
$tableFontSize:14px;