.tree-expand{
  overflow:hidden;
}
.tree-expand .tree-label.tree-new{
  font-weight:600;
}
.tree-expand .tree-label{
  font-size:0.9em;
}
.tree-expand .tree-label .edit{
  width:80%;
}
.tree-expand .tree-btn{
  display:none;
  float:right;
  margin-right:20px;
}
.tree-expand .tree-btn i{
  color:#8492a6;
  font-size:0.9em;
  margin-right:3px;
}
