.img-flex{
  display: flex;
  justify-content: space-around;
}
.icon-position{
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0;
  display: none;
}
img{
  cursor: pointer;
  &:hover .icon-position{
    display: block;
  }
}
.display-block{
  display: block;
}

//多选框样式
.el-checkbox-button:first-child .el-checkbox-button__inner{
  border-radius: 4px;
}
.bottom-style{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 5px solid #000;
}
.el-checkbox-button__inner{
  border-left:1px solid #dcdfe6;
  border-radius: 4px !important;
}
.el-checkbox-button:last-child .el-checkbox-button__inner{
  border-radius: 4px;
}
