//多选框样式
.el-checkbox-button:first-child .el-checkbox-button__inner{
  border-radius: 4px;
}
.el-checkbox-button__inner{
  border-left:1px solid #dcdfe6;
  border-radius: 4px !important;
}
.el-checkbox-button:last-child .el-checkbox-button__inner{
  border-radius: 4px;
}
.bottom-style{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 5px solid #000;
}
